main {
    width: var(--width);
    text-align: center;
}

.books_list {
	list-style-type: none;
	padding: unset;
}

.books_list li {
	display: flex;
	flex-direction: column;
	font-size: clamp(1.6rem, 6.5vmin, 4.5rem);
	font-family: 'YesevaOne', serif;
	font-weight: 400;
	line-height: 1.3;
	scroll-margin-top: var(--header-height);
}

.books_list li a {
	padding: 3rem 0;
	width: fit-content;
	margin-inline: auto;
}

.books_list .title {
	transition: color 0.8s ease;
	-webkit-transition: color 0.8s ease;
	-moz-transition: color 0.8s ease;
	-ms-transition: color 0.8s ease;
	-o-transition: color 0.8s ease;
}

.books_list .title.no_transitions {
	transition: color 0s ease;
	-webkit-transition: color 0s ease;
	-moz-transition: color 0s ease;
	-ms-transition: color 0s ease;
	-o-transition: color 0s ease;
}

.books_list li hr {
    width: 100%;
    max-width: 24rem;
    height: 0.2rem;
    border: unset;
    margin: 0 auto;
    background-image: linear-gradient(90deg, transparent, var(--light), transparent);
    filter: drop-shadow(0rem 0.5rem 0.9rem var(--light-b));
}

.dark .books_list li hr {
    background-image: linear-gradient(85deg, transparent, var(--dark-b), transparent);
    filter: drop-shadow(0rem -1.1rem 1.3rem #000);
}

.books_list li :global(time) {
	flex: 0 0 130px;
	font-style: italic;
	color: #595959;
}
ul li a:hover .title {
	color: var(--highlight-color, var(--c1));
	transition: color 0s ease;
	-webkit-transition: color 0s ease;
	-moz-transition: color 0s ease;
	-ms-transition: color 0s ease;
	-o-transition: color 0s ease;
}