
html.sr .reveal, html.sr .books_list li {
    visibility: hidden;
}

@font-face {
	font-family: 'YesevaOne';
	src: local("YesevaOne"), url('/fonts/YesevaOne-Regular.ttf');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Josefin';
	src: local("Josefin"), url('/fonts/JosefinSans-VariableFont_wght.ttf');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Josefin';
	src: local("Josefin"), url('/fonts/JosefinSans-Italic-VariableFont_wght.ttf');
	font-style: italic;
	font-display: swap;
}

:root {
	--light: #f5f5f5;
	--light-a: #e8e8e8;
	--light-b: #6c757d;
	--light-c:#cccccc;

	--dark:#1c1c1c;
	--dark-a:#26272a;
	--dark-b:#222222;

	--c1: crimson;
	--c1-a:#ff1d48;

	--width: clamp(10rem, 85vw, 150rem);

    --corner-width: calc((100vw - var(--width)) / 2);

	--header-height:clamp(4rem,31vmin,11rem);
}

html,
body {
	margin: 0;
}

body {
    font-family: 'Josefin', sans-serif;
    background-color: var(--light);
    color: var(--dark);
    line-height: 1.5;
    background-image: linear-gradient(45deg, rgb(245 245 245 / 60%), rgb(245 245 245 / 60%)), url(/noise.svg);
    background-size: cover,clamp(38rem,150vw,100rem);
}

.dark body {
    background-color: #1c1c1c;
    color: #fff;
    background-image: linear-gradient(45deg, rgb(20 20 20 / 90%), rgb(20 20 20 / 90%)), url(/noise.svg);
}

::-webkit-scrollbar {
    width: 1.8rem;
    height: 2rem;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

.dark ::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background: var(--dark);
    border: 0.7rem solid #ffffff;
}

.dark ::-webkit-scrollbar-thumb  {
    background: var(--light);
    border: 0.7rem solid #000000;
}

.cta {
    font-weight: 600;
    font-size: clamp(1.6rem, 5.5vmin, 2.1rem);
    text-align: center;
    font-size: 1.8rem;
    color: var(--dark-a);
    border-radius: 0.4rem;
    padding: 1.8rem 3rem 1.4rem;
    line-height: 1;
    background-color: var(--light);
    transition:background-color 0.4s ease;
    -webkit-transition:background-color 0.4s ease;
    -moz-transition:background-color 0.4s ease;
    -ms-transition:background-color 0.4s ease;
    -o-transition:background-color 0.4s ease;
}

.cta:hover {
    background-color: var(--light-c);
    transition:background-color 0s ease;
    -webkit-transition:background-color 0s ease;
    -moz-transition:background-color 0s ease;
    -ms-transition:background-color 0s ease;
    -o-transition:background-color 0s ease;
}

.dark .cta {
    background-color: var(--dark-b);
    color: var(--light-a);
    font-weight: 350;
}

.dark .cta:hover {
    background-color: var(--dark-a);
}

.link_ctnr {
    display: flex;
    flex-flow: row wrap-reverse;
    gap: clamp(1rem, 4vw, 2rem) clamp(1rem, 3vw, 2rem);
    justify-content: center;
}

.link_ctnr a {
    width: 2.8rem;
    height: clamp(1.8rem, 4.8vw, 2.1rem);
    transition: filter 0.9s ease;
}

.link_ctnr a:hover {
    filter:drop-shadow(0 0 1.2rem #aaa);
    transition: filter 0s ease;
}

.dark .link_ctnr a:hover {
    filter:drop-shadow(0 0 1.2rem #555);
}

.link_ctnr .icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.link_ctnr .icon svg {
    width: 100%;
    height: 100%;
}

.link_ctnr .lemon8 {
    background-image: url(/icons/lemon8.png);
}



/* body::after {
    content: '';
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url(/noise.svg);
    background-size: 50vh;
    z-index: 2;
    opacity: 0.4;
    pointer-events: none;
    mix-blend-mode: multiply;
}

html.dark body::after {
    mix-blend-mode: color-burn;
    opacity: 0.6;
} */

h1 {
	font-family: 'YesevaOne', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	margin: 0;
	cursor: default;
}

a {
	color: #3273dc;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}

pre {
	padding: 1rem;
}

pre>code {
	all: unset;
}

blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

.external {
	position: relative;
}

.external::after {
    content: '';
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    width: 0.2rem;
    height: 0.2rem;
    border-top: 0.2rem solid;
    border-right: 0.2rem solid;
    border-bottom: 0.2rem solid transparent;
    border-left: 0.2rem solid transparent;
    opacity: 0.4;
	transition: opacity 0.4s ease;
}

.external:hover:after {
	opacity: 1;
	transition: opacity 0s ease;
}







/* Defaults.css */

html {
	font-size: 10px;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	color: unset;
}

img {
	user-select: none;
	max-width: 100%;
	height: auto;
	width: auto;
}

video {
	background-size: cover;
	background-position: center;
}

.mobile_hidden {
	display: none;
}

::selection {
	color: var(--light);
	background-color: var(--c1);
}

.dark ::selection {
	background-color: var(--c1);
}

main {
	position: relative;
	margin-inline: auto;
}

button {
	background-color: transparent;
	outline-color: transparent;
	border: unset;
	padding: unset;
	font-family: initial, sans-serif;
	-webkit-tap-highlight-color: transparent;
}

button:focus-visible {
	outline: 0.1rem solid transparent;
}

button:not([type="submit"]):focus-visible {
	outline: 0.1rem solid transparent;
}

.flex {
	display: flex;
}

.icon {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.cookie-consent-banner .cookie_heading {
	font-weight: 400;
}

.dark .cookie-consent-banner .cookie_heading {
	font-weight: 300;
}

.dark .cookie-consent-banner {
    background-color: var(--dark);
    background-image: linear-gradient(45deg, rgb(20 20 20 / 90%), rgb(20 20 20 / 90%)), url(/noise.svg);
    border: 0.1rem solid var(--dark-a);
    box-shadow: 0 1rem 5rem 2rem var(--dark-b);
}

.cookie-consent-banner {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    left: 1rem;
    right: 1rem;
    background-color: var(--light);
    background-image: linear-gradient(45deg, rgb(245 245 245 / 60%), rgb(245 245 245 / 60%)), url(/noise.svg);
    color: var(--dark);
    color: var(--secondary-1);
    padding: 2.5rem clamp(1.3rem,5vw,4rem) 2rem;
    text-align: center;
    z-index: 11;
    margin-inline: auto;
    width: 100%;
    box-sizing: border-box;
    width: clamp(10rem, 85%, 150rem);
    border-radius: 0.3rem;
    border: 0.1rem solid var(--light-c);
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    box-shadow: 0 2rem 4rem var(--light-b);
}

.dark .cookie-consent-banner .cookie_heading + p {
    font-weight: 300;
}

.cookie-consent-banner .cookie_heading + p {
    font-weight: 500;
}

.cookie-consent-button {
	color: var(--dark);
}

.dark .cookie-consent-button {
	color: var(--light);
}

.cookie-consent-button.accept {
	color: var(--light);
}

.cookie-consent-button.accept_selection {
    background-color: var(--light-a);
}

.dark .cookie-consent-button.accept_selection {
    background-color: var(--dark-b);
}

.cookie-consent-button.reject {
    background-color: var(--light-c);
}

.dark .cookie-consent-button.reject {
    background-color: var(--dark-b);
    border: 0.1rem solid var(--dark-a);
}


.corner_bt {
    position: fixed;
    bottom:2rem;
    width: 4.5rem;
    z-index: 3;
    height: 4.5rem;
    border: 0.1rem solid var(--light-c);
    background-color: var(--light-c);
    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease, background-color 0.4s ease;
    -webkit-transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease, background-color 0.4s ease;
    -moz-transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease, background-color 0.4s ease;
    -ms-transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease, background-color 0.4s ease;
    -o-transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease, background-color 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.dark .corner_bt {
    border: 0.1rem solid var(--dark-a);
    background-color: var(--dark-b);
}

.corner_bt:hover  {
    background-color: var(--light);
    transition: background-color 0s ease;
    -webkit-transition: background-color 0s ease;
    -moz-transition: background-color 0s ease;
    -ms-transition: background-color 0s ease;
    -o-transition: background-color 0s ease;
}

.dark .corner_bt:hover {
    background-color: var(--dark-a);
}

.corner_bt svg {
    width: 1.8rem;
    height: 1.8rem;
}













@media (min-width:1920px) {
	html {
		font-size: 11px;
	}
}

@media (min-width:2440px) {
	html {
		font-size: 13px;
	}
}

@media (min-width:3000px) {
	html {
		font-size: 16px;
	}
}

@media (min-width:4000px) {
	html {
		font-size: 22px;
	}
}








/* RESETS */

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, p, h1, h2, h3, h4, h5, h6, span {
    margin: 0;
    overflow-wrap: break-word;
    cursor: inherit;
}

p:not(a > p), span:not(a > span) {
    cursor: default;
}

h1, h2, h3, h4, h5, h6 {
    width: fit-content;
    font-weight: 600;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: unset;
    cursor: pointer;
}

a h1, a h2, a h3, a h4, a h5, h5 {
    cursor: pointer;
}

img {
    user-select: none;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    object-position: center;
}

video {
    background-size: cover;
    background-position: center;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button {
    background-color: transparent;
    outline-color: transparent;
    border: unset;
    padding: unset;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

button:focus-visible, button:not([type="submit"]):focus-visible {
    outline: 0.1rem solid transparent;
}

ol, ul, li {
    padding: 0;
    list-style: none;
    margin-block: 0;
}

hr {
    border:none;
    margin: unset;
    height: 0.1rem;
}

noscript {
    font-size: 2rem;
    text-align: center;
    display: block;
    position: absolute;
    background-color: var(--light);
    z-index: 10;
    color: var(--dark);
    margin-inline: auto;
    padding: 1rem;
    border: 0.2rem solid var(--highlight);
    max-width: 80%;
    inset: 0;
    height: fit-content;
    margin: auto;
}



#themeToggle {
    background: none;
    position: absolute;
    right: clamp(0.5rem,1.8vw,1.8rem);
    top: clamp(0.5rem,1.8vw,1.8rem);
    cursor: pointer;
    width: clamp(2rem,5.3vw,2.5rem);
    height: clamp(2rem,5.3vw,2.5rem);
    color: var(--dark-b);
}

.dark #themeToggle {
    color: var(--light-c);
}

#themeToggle:hover {
    opacity: 0.4;
}