---
import Layout from '../layouts/Layout.astro';
import "../styles/home.css"
---

<Layout>
	<main>
		<div class="intro">
			<div class="flex">
				<div class="link_ctnr">
					<a href="" class="youtube icon" target="_blank" title="YouTube"></a>
					
					<a href="" class="spotify icon" target="_blank" title="Spotify"></a>
					
					<a href="" class="apple_podcasts icon" target="_blank" title="Apple Podcasts"></a>
					
					<a href="https://www.instagram.com/booksyoucouldread/" class="instagram icon" target="_blank" title="Instagram"></a>
					
					<a href="https://web.facebook.com/BooksYouCouldRead" class="facebook icon" target="_blank" title="Facebook"></a>
					
					<a href="https://www.tiktok.com/@booksyoucouldread" class="tiktok icon" target="_blank" title="TikTok"></a>
					
					<a href="https://twitter.com/BooksYCRead" class="twitter icon" target="_blank" title="Twitter"></a>
					
					<a href="https://v.lemon8-app.com/s/yjmhpcyRR" class="lemon8 icon" target="_blank" title="Lemon8"></a>
				</div>
				
				<h1>Books You Could Read!</h1>
	
				<h2><b>Your friendly guide to the literary world.</b> We're here to make literature less intimidating and more accessible. Dive into our discussions that break down classic and contemporary works, demystify literary themes, and <b>bring books to life</b>.</h2>
				
				<a href="/books" class="cta">
					Explore
					<hr>
				</a>
			</div>
		</div>
	</main>
</Layout>