---
import Layout from '../layouts/Layout.astro';
import "../styles/home.css"
import "../styles/books.css"

import LinkIcons from '../components/LinkIcons.astro';

import { type CollectionEntry, getCollection } from 'astro:content';

const books = (await getCollection('books')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
	<main>
		<section class="intro">
			<div class="flex">

				<LinkIcons/>
				
				<h1>Books You Could Read <span class="red">!</span></h1>
	
				<h2><b class="red">Your friendly guide to the literary world.</b> We're here to make literature less intimidating and more accessible. Dive into our discussions that break down classic and contemporary works, demystify literary themes, and <b>bring books to life</b>.</h2>
				
				<a href="/books" class="cta">
					Explore Books
					<hr>
				</a>
			</div>
		</section>

		<section class="books">
			<h2>Latest Reads</h2>

			<ul class="books_list">
				{books.slice(0, 3).map((book) => (
				  <li id={(book.data.title).toLowerCase().replace(/\s+/g, '-')}>
					<a href={`/books/${book.slug}/`} style={{ '--highlight-color': book.data.highlightColor }}>
					  <span class="title">{book.data.title}</span>, <span class="authorship">by {book.data.bookAuthor}</span>
					</a>
					<hr />
				  </li>
				))}
			</ul>

			<a href="/books" class="cta" aria-label="See all books">See all books</a>
		</section>
	</main>
</Layout>