---
import Layout from '../layouts/Layout.astro';
import "../styles/home.css"
import "../styles/books.css"

import YouTube from '../components/svg/icons/YouTube.astro'
import ApplePodcasts from '../components/svg/icons/ApplePodcasts.astro'
import Spotify from '../components/svg/icons/Spotify.astro'
import Instagram from '../components/svg/icons/Instagram.astro'
import Facebook from '../components/svg/icons/Facebook.astro'
import TikTok from '../components/svg/icons/TikTok.astro'
import Twitter from '../components/svg/icons/Twitter.astro'

import { type CollectionEntry, getCollection } from 'astro:content';

const books = (await getCollection('books')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf() 
);

import { YOUTUBE_CHANNEL, SPOTIFY_URL, FACEBOOK_URL, INSTAGRAM_URL, APPLE_URL, TIKTOK_URL, TWITTER_URL, LEMON8_URL } from "../consts";
---

<Layout>
	<main>
		<section class="intro">
			<div class="flex">
				<div class="link_ctnr">

					{YOUTUBE_CHANNEL ? (
						<a href={YOUTUBE_CHANNEL} class="youtube icon" target="_blank" title="Join us on YouTube">
							<YouTube/>
						</a>
					) : null}
					
					{SPOTIFY_URL ? (
						<a href="" class="spotify icon" target="_blank" title="Join us on Spotify">
							<Spotify/>
						</a>
					) : null}
					
					{APPLE_URL ? (
						<a href="" class="apple_podcasts icon" target="_blank" title="Join us on Apple Podcasts">
							<ApplePodcasts/>
						</a>
					) : null}

					{INSTAGRAM_URL ? (
						<a href="https://www.instagram.com/booksyoucouldread/" class="instagram icon" target="_blank" title="Join us on Instagram">
							<Instagram/>
						</a>
					) : null}
					
					{FACEBOOK_URL ? (
						<a href="https://web.facebook.com/BooksYouCouldRead" class="facebook icon" target="_blank" title="Join us on Facebook">
							<Facebook/>
						</a>
					) : null}
					
					{TIKTOK_URL ? (
						<a href="https://www.tiktok.com/@booksyoucouldread" class="tiktok icon" target="_blank" title="Join us on TikTok">
							<TikTok/>
						</a>
					) : null}
					

					{TWITTER_URL ? (
						<a href="https://twitter.com/BooksYCRead" class="twitter icon" target="_blank" title="Join us on Twitter">
							<Twitter/>
						</a>
					) : null}
					

					{LEMON8_URL ? (
						<a href="https://v.lemon8-app.com/s/yjmhpcyRR" class="lemon8 icon" target="_blank" title="Join us on Lemon8"></a>
					) : null}
				</div>
				
				<h1>Books You Could Read <span class="red">!</span></h1>
	
				<h2><b class="red">Your friendly guide to the literary world.</b> We're here to make literature less intimidating and more accessible. Dive into our discussions that break down classic and contemporary works, demystify literary themes, and <b>bring books to life</b>.</h2>
				
				<a href="/books" class="cta">
					Explore Books
					<hr>
				</a>
			</div>
		</section>

		<section class="books">
			<h2>Latest Reads</h2>

			<ul class="books_list">
				{books.slice(0, 3).map((book) => (
				  <li id={(book.data.title).toLowerCase().replace(/\s+/g, '-')}>
					<a href={`/books/${book.slug}/`} style={{ '--highlight-color': book.data.highlightColor }}>
					  <span class="title">{book.data.title}</span>, <span class="authorship">by {book.data.bookAuthor}</span>
					</a>
					<hr />
				  </li>
				))}
			</ul>

			<a href="/books" class="cta" aria-label="See all books">See all books</a>
		</section>
	</main>
</Layout>