---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro"

import { YOUTUBE_CHANNEL, SPOTIFY_URL, APPLE_URL } from "../consts";

import Logo from '../components/svg/logo/Logo.astro'
import CornerFold from "./svg/CornerFold.astro";

import '../styles/header.css'
---

<header>
	<div class="ctnr">
		<a href="/" class="logo" title="Books You Could Read!">
			<Logo/>
		</a>

		<nav>
			<HeaderLink href="/">Home</HeaderLink>

			<HeaderLink href="/books">Books</HeaderLink>

			<!-- <HeaderLink href="/about">About</HeaderLink> -->

			{YOUTUBE_CHANNEL ? (
				<HeaderLink href="https://www.youtube.com/channel/UCb63wW2bTBDtfVKuXtzw-MQ?sub_confirmation=1" target="_blank" class="external">
					YouTube
				</HeaderLink>
			) : null}

			{SPOTIFY_URL ? (
				<HeaderLink href="#" target="_blank" class="external">
					Spotify
				</HeaderLink>
			) : null}

			{APPLE_URL ? (
				<HeaderLink href="#" target="_blank" class="external">
					iTunes
				</HeaderLink>
			) : null}
		</nav>

		<button class="menu_bt" type="button" name="toggle-menu-button" aria-label="open menu">
			<div></div>
			<div></div>
			<div></div>
		</button>

		<div class="page_fold">
			<CornerFold/>
			<ThemeIcon/>
		</div>
	</div>
</header>

<script is:inline>

const menuBt = document.querySelector('.menu_bt')
const nav = document.querySelector('header nav')

let showingMenu = false;

function toggleNav() {
    if(showingMenu == false) {

        nav.classList.add('show')
        menuBt.classList.add('close')

        showingMenu = true;
    } else {

        nav.classList.remove('show')
        menuBt.classList.remove('close')

        showingMenu = false;
    }
}

menuBt.addEventListener('click', toggleNav)

window.addEventListener('scroll', function() {
    if(showingMenu == true) {
        toggleNav()
    }
})

</script>