---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

import "../../styles/books.css"
import BackTop from '../../components/BackTop.astro';

// const books = (await getCollection('books')).sort(
//   (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );
const books = (await getCollection('books'));

type Props = CollectionEntry<'books'>;

export async function getStaticPaths() {
  const books = await getCollection('books');
  return books.map((book) => ({
    params: { slug: book.slug },
    props: book,
  }));
}

const book = Astro.props;
---

<Layout {...book.data}>
	<main>
		<section>
			<ul class="books_list">
				{books.map((book) => (
				  <li id={(book.data.title).toLowerCase().replace(/\s+/g, '-')}>
					<a href={`/books/${book.slug}/`} style={{ '--highlight-color': book.data.highlightColor }}>
					  <span class="title">{book.data.title}</span>, <span class="authorship">by {book.data.bookAuthor}</span>
					</a>
					<hr />
				  </li>
				))}
			</ul>
		</section>
	</main>

	<BackTop/>
</Layout>

<style>
	main {
		margin-top: clamp(0rem, calc(8vw - 6rem), 6rem);
		margin-bottom: calc(50vh - (clamp(4rem,31vmin,11rem) / 2));
	}
</style>