---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import "../styles/article.css";
import HeaderLink from "../components/HeaderLink.astro";

type Props = CollectionEntry<"books">["data"];

const {
	title,
	bookAuthor,
	description,
	pubDate,
	updatedDate,
	coverImage,
	affiliateLink,
	youTubeLink,
	spotifyLink,
	spotifyEmbedURL,
	applePodcastsLink,
	applePodcastsEmbedURL,
} = Astro.props;

const ytDefault = 'https://www.youtube.com/channel/UCb63wW2bTBDtfVKuXtzw-MQ?sub_confirmation=1'
const spotifyDefault = ''
const applePodcastsDefault = ''

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header/>
		<Footer />
	</body>
</html>
